<pre>
    {{ dump(produits) }}
</pre>
<article>
    <h1>
        Vos produits:
    </h1>
    {% for produit in produits %}
        {% if produit  %}
            
        {% endif %}
    {% endfor %}
</article>

