{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<main class="container-profil">
{# bandeau avec photo de profil et nom d'utilisateur #}
{% include "Frontend/user_controler/components/_user.html.twig" %}
{# navbar de profil #}
{% include "Frontend/user_controler/components/_subNavbar.html.twig" %}
{# liste des services créés par l'utilisateur #}
{% include "Frontend/user_controler/components/_service.html.twig" %}
{# liste des produits créés par l'utilisateur #}
{% include "Frontend/user_controler/components/_produit.html.twig" %}
</main>

{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}