<header class="header" id="header">
	<nav class="header__nav" id="navbar">
		<div class="header__nav__div-logo">
			<a href="" class="header__nav__div-logo__a">
				<img src="{{ asset('build/images/Vulcain-BG.png') }}" alt="logo" class="header__nav__div-logo__a__logo">
			</a>
		</div>

		<div class="header__nav-right" id="div-right">
			<div class="header__nav-right__div-left">
				<a href="" class="header__nav-right__div-left__a">
					<img src="{{ asset('build/images/spain.png') }}" alt="espagne" class="header__nav-right__div-left__a__img">
				</a>
			</div>
			<div class="header__nav-right__div-middle">
				<a href="" class="header__nav-right__div-middle__a">
					<img src="{{ asset('build/images/united_kingdom.png') }}" alt="angleterre" class="header__nav-right__div-middle__a__img">
				</a>
			</div>
			<div class="header__nav-right__div-right">
				<a href="{{ path('app_bienvenue')}}" class="header__nav-right__div-right__a">
					<i class="bi bi-box-arrow-in-right header__nav-right__div-right__a__i" id="icon"></i>
				</a>
			</div>
		</div>
		<nav></header>
