.header {
    height: 4rem;
    margin: auto;

    &__nav {
        background-color: $BF;
        height: fit-content;
        width: 100%;
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__div-logo {
            height: 4rem;
            width: 13vw;
            overflow: hidden;
            //background-color: red;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 0.5vw;

            &__a {
                margin: auto;

                &__logo {
                    width: 13vw;
                    object-fit: cover;
                    position: relative;
                    bottom: 0.4rem;
                }
            }
        }

        // right

        &-right {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            left: 90vw;

            &__div-left {
                height: 4rem;
                width: 4rem;
                overflow: hidden;

                &__a {
                    margin: auto;

                    &__img {
                        width: 4rem;
                    }
                }
            }

            &__div-middle {
                height: 4rem;
                width: 4rem;
                overflow: hidden;

                &__a {
                    margin: auto;

                    &__img {
                        width: 4rem;
                    }
                }
            }

            &__div-right {
                height: 4rem;
                width: 4rem;
                overflow: hidden;

                &__a {
                    margin: auto;

                    &__i {
                        font-size: 4rem;
                        color: $BG;
                        position: relative;
                        bottom: 1rem;
                    }
                }
            }
        }
    }
}