.main-home-disconnect__article-services{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 80%;
    height: $SCardWidth;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
}