<article class="article-analytique">
	<div class="article-analytique__div-text">
		<h2>
			Analytique
		</h2>
		<p>
			Vous souhaitez connaitre les secteurs en pleine expansion ?
		</p>
		<p>
			Vous souhaitez connaitre les prix les plus compétitifs ?
		</p>
		<p>
			Vous souhaitez optimiser vos bénéfices ?
		</p>
		<div>
			<a href="">En savoir plus</a>
		</div>
	</div>
	<div class="article-analytique__div-img">
        <img src="https://cdn-icons-png.flaticon.com/512/1896/1896543.png" alt="graphique">
    </div>
</article>
