<article class="main-home-disconnect__article">
	<div class="main-home-disconnect__article__card-primaire">
		<div class="main-home-disconnect__article__card-primaire__div-title">
			<h2 class="main-home-disconnect__article__card-primaire__div-title__h2">
				Secteur primaire
			</h2>
		</div>
		<div class="main-home-disconnect__article__card-primaire__div-middle">
			<div class="main-home-disconnect__article__card-primaire__div-middle__div-img">
				<img src="https://cdn.pixabay.com/photo/2020/04/11/04/45/nature-5028760_960_720.jpg" alt="primaire" class="main-home-disconnect__article__card-primaire__div-middle__div-img__img">
			</div>
			<div class="main-home-disconnect__article__card-primaire__div-middle__div-text">
				<p class="main-home-disconnect__article__card-primaire__div-middle__div-text__p">Le secteur primaire regroupe l'ensemble des activités dont la finalité consiste en une exploitation des ressources naturelles : agriculture, pêche, forêts, mines, gisements..</p>
			</div>
		</div>
		<div class="main-home-disconnect__article__card-primaire__div-link">
			<a href="" class="main-home-disconnect__article__card-primaire__div-link__a">
				Sélectionner
			</a>
		</div>
	</div>
	{# --------------------------------------------------------------------- #}
	{# secteur secondaire #}
	<div class="main-home-disconnect__article__card-secondaire">
		<div class="main-home-disconnect__article__card-secondaire__div-title">
			<h2 class="main-home-disconnect__article__card-secondaire__div-title__h2">
				Secteur secondaire
			</h2>
		</div>
		<div clas="main-home-disconnect__article__card-secondaire__div-middle" id="middle-secteur-card">
			<div class="main-home-disconnect__article__card-secondaire__div-middle__div-img">
				<img src="https://cdn.pixabay.com/photo/2017/09/16/14/33/electrician-2755683_960_720.jpg" alt="secteur secondaire" class="main-home-disconnect__article__card-secondaire__div-middle__div-img__img">
			</div>
			<div class="main-home-disconnect__article__card-secondaire__div-middle__div-text">
				<p class="main-home-disconnect__article__card-secondaire__div-middle__div-p" id="textSecteurCard">Le secteur secondaire regroupe l'ensemble des activités consistant en une transformation plus ou moins élaborée des matières premières (industries manufacturières, construction).</p>
			</div>
		</div>
		<div class="main-home-disconnect__article__card-secondaire__div-link">
			<a href="" class="main-home-disconnect__article__card-secondaire__div-link__a">
				Sélectionner
			</a>
		</div>
	</div>
	{# --------------------------------------------------------------------- #}
	{# secteur tertiaire #}
	<div class="main-home-disconnect__article__card-tertiaire">
		<div class="main-home-disconnect__article__card-tertiaire__div-title">
			<h2 class="main-home-disconnect__article__card-tertiaire__div-title__h2">
				Secteur tertiaire
			</h2>
		</div>
		<div clas="main-home-disconnect__article__card-tertiaire__div-middle" id="middle-secteur-card">
			<div class="main-home-disconnect__article__card-tertiaire__div-middle__div-img">
				<img src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_960_720.jpg" alt="secteur tertiaire" class="main-home-disconnect__article__card-tertiaire__div-middle__div-img__img">
			</div>
			<div class="main-home-disconnect__article__card-tertiaire__div-middle__div-text">
				<p class="main-home-disconnect__article__card-tertiaire__div-middle__div-p" id="textSecteurCard">Le secteur tertiaire recouvre un vaste champ d'activités qui s'étend du commerce à l'administration, en passant par les transports, les activités financières et immobilières, les services aux entreprises et services aux particuliers, l'éducation, la santé et l'action sociale.
			</div>
		</div>
		<div class="main-home-disconnect__article__card-tertiaire__div-link">
			<a href="" class="main-home-disconnect__article__card-tertiaire__div-link__a">
				Sélectionner
			</a>
		</div>
	</div>
</article>
