<article class="article-choisirServices">
    <div class="article-choisirServices__div-titre">
        <h1 class="article-choisirServices__div-titre__h1">
            Choisir Services  
        </h1>
    </div>
    <div class="article-choisirServices__div-cards">
        <div class="article-choisirServices__div-cards__particulier">
            <div class="article-choisirServices__div-cards__particulier__div-top">
                <div class="article-choisirServices__div-cards__particulier__div-top__titre">
                    <h2 class="article-choisirServices__div-cards__particulier__div-top__titre__h2">
                        Particulier           
                    </h2>
                </div>
                <div class="article-choisirServices__div-cards__particulier__div-top__div-img">
                    <img src="https://cdn.pixabay.com/photo/2019/12/14/19/22/city-plan-4695579_960_720.jpg" alt="particulier" class="article-choisirServices__div-cards__particulier__div-top__div-img__img"></div>
                </div>
            </div>
            <div class="article-choisirServices__div-cards__particulier__div-link">
                <a href="" class="article-choisirServices__div-cards__particulier__div-link__a">
                    Sélectionner              
                </a>
            </div>
        </div>
        <div class="article-choisirServices__div-cards__professionnel">
            <div class="article-choisirServices__div-cards__professionnel__titre">
                <h2 class="article-choisirServices__div-cards__professionnel__titre__h2">
                    Professionnel
                </h2>
            </div>
            <div class="article-choisirServices__div-cards__professionnel__div-img">
                <img src="https://cdn.pixabay.com/photo/2020/03/12/16/51/women-4925683_960_720.jpg" alt="" class="article-choisirServices__div-cards__professionnel__div-img__img"></div>
            </div>
            <div class="article-choisirServices__div-cards__particulier__div-link">
                <a href="" class="article-choisirServices__div-cards__professionnel__div-link__a">
                    Sélectionner             
                </a>
            </div>
        </div>
    </div>
</article>
