<article>
	{# haut #}
	<div>
		<h3>
			Nouveautés
		</h3>
		<div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	{# secteur #}
	<div>
		<a href="">
			<h3>Primaire</h3>
		</a>
		<a href="">
			<h3>Secondaire</h3>
		</a>
		<a href="">
			<h3>Tertiraire</h3>
		</a>
	</div>
	{# domaines #}
	<div>
		<div>
			<h3>
				Domaine
			</h3>
			<img src="" alt="">
			<a href=""></a>
		</div>
		<div>
			<div>
				<h3>
					Domaine
				</h3>
				<img src="" alt="">
				<a href=""></a>
			</div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</article>
