<article
	class="article-nouveautes">
	{# haut #}
	<div class="article-nouveautes__div-titre">
		<h3 class="article-nouveautes__div-titre__h3">
			Nouveautés
		</h3>
		<div class="article-nouveautes__div-titre__drapeau">
			<div class="article-nouveautes__div-titre__drapeau-bleu"></div>
			<div class="article-nouveautes__div-titre__drapeau-blanc"></div>
			<div class="article-nouveautes__div-titre__drapeau-rouge"></div>
		</div>
	</div>
	{# secteur #}
	<div class="article-nouveautes__div-secteur">
		<a href="" class="article-nouveautes__div-secteur__primaire">
			<h3 class="article-nouveautes__div-secteur__primaire__h3">Primaire</h3>
		</a>
		<a href="" class="article-nouveautes__div-secteur__secondaire">
			<h3 class="article-nouveautes__div-secteur__secondaire__h3">Secondaire</h3>
		</a>
		<a href="" class="article-nouveautes__div-secteur__tertiaire">
			<h3 class="article-nouveautes__div-secteur__tertiaire__h3">Tertiaire</h3>
		</a>
	</div>
	{# domaines #}
	<div class="article-nouveautes__div-domaine">
		<div class="article-nouveautes__div-domaine__div-left" style="background-image:url(https://cdn.pixabay.com/photo/2016/11/29/02/06/apiary-1866740_960_720.jpg)">
			<h3 class="article-nouveautes__div-domaine__div-left__h3">
				Apiculteur
			</h3>
			<a href="" class="article-nouveautes__div-domaine__div-left__a">En savoir plus</a>
		</div>
		{# coté droit #}
		<div
			class="article-nouveautes__div-domaine__div-right">
			{# #################################################### #}
			<div class="article-nouveautes__div-domaine__div-right__div1" style="background-image:url(https://cdn.pixabay.com/photo/2015/12/07/10/51/electrician-1080570_960_720.jpg)">
				<h3 class="article-nouveautes__div-domaine__div-right__div1__h3">
					Electricien
				</h3>
				<a href="" class="article-nouveautes__div-domaine__div-right__div1__a">En savoir plus</a>
			</div>
			{# ################################################### #}
			<div class="article-nouveautes__div-domaine__div-right__div2" style="background-image:url(https://cdn.pixabay.com/photo/2020/11/07/20/29/injection-5722329_960_720.jpg)">
				<h3 class="article-nouveautes__div-domaine__div-right__div2__h3">
					Infirmiere
				</h3>
				<a href="" class="article-nouveautes__div-domaine__div-right__div2__a">En savoir plus</a>
			</div>
			{# #################################################### #}
			<div class="article-nouveautes__div-domaine__div-right__div3" style="background-image:url(https://cdn.pixabay.com/photo/2019/12/18/13/08/right-4703943_960_720.jpg)">
				<h3 class="article-nouveautes__div-domaine__div-right__div3__h3">
					Avocate
				</h3>
				<a href="" class="article-nouveautes__div-domaine__div-right__div3__a">En savoir plus</a>
			</div>
			{# #################################################### #}
			<div class="article-nouveautes__div-domaine__div-right__div4" style="background-image:url(https://cdn.pixabay.com/photo/2019/04/29/07/04/software-development-4165307_960_720.jpg)">
				<h3 class="article-nouveautes__div-domaine__div-right__div4__h3">
					Professeur
				</h3>
				<a href="" class="article-nouveautes__div-domaine__div-right__div4__a">En savoir plus</a>
			</div>
			{# #################################################### #}
		</div>
	</div>
</article>
