<article class="main-home-disconnect__article-services">
    <div class="main-home-disconnect__article-services__div-text">
        <h2 class="">
            Proposer ses services
        </h2>
        <p class="">
        Oser se vendre ! <br>
        Lancez vous !
        </p>
        <a href="" class="">
            Commencer
        </a>
    </div>
    <div class="main-home-disconnect__article-services__div-img">
        <img src="https://cdn.pixabay.com/photo/2015/01/08/18/30/entrepreneur-593371_960_720.jpg" alt="entrepreneur" class="">
    </div>
</article>