$BF: #03224C;
$BG: #E5E5E5;
$RV: #B22222;
$JV: #f9ba05;
$RODM: #731914;
$GX: #707070;
$N: #000000;
$RP: #8B0000;
$NNAC:#181818;
$TDF:#81613C;
$VO:#5E6456;
$coyotte:#9f8670;
$VG:#6B6C66;

@import "./palettes.scss";
