@import "/assets/styles/components/user-baner";
@import "/assets/styles/components/subnavbar";


.container-profil{
    background-color: $BG;
    margin: auto;
    width: 100vw !important;
    padding-bottom: 2vw;
}