<main>
<div>
    <img src="{{ asset('build/images/Vulcain-NNAC.png') }}" alt="logo">
    <h1>
        Bienvenue !
    </h1>
    <a href="{{ path('app_login')}}">Se connecter</a>
    <a href="{{ path('app_register')}}">Créer un compte</a>
    <a href="{{ path('app_main')}}">Annuler</a>
</div>
<div>

</div>
<img src="https://cdn-icons-png.flaticon.com/512/7344/7344260.png" alt="commerce icon">
</main>