{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
	<main class="main-home-disconnect">
	{# carousselle #}
	{% include "Frontend/main/components/_carroussel.html.twig" %}
	{# article secteurs #}
	{% include "Frontend/main/components/_cards.html.twig" %}
	{# article se vendre #}
	{% include "Frontend/main/components/_services.html.twig" %}
	</main>

{% endblock %}
