{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
	<div id="carouselExampleSlidesOnly" class="carousel slide slider" data-bs-ride="carousel">
		<div class="carousel-inner slider__div">
			<div class="carousel-item active slider__div__div-1">
				<img src="" class="d-block w-100 slider__div__div-1__img" alt="...">
			</div>
			<div class="carousel-item slider__div__div-2">
				<img src="..." class="d-block w-100 slider__div__div-2__img" alt="...">
			</div>
			<div class="carousel-item slider__div__div-3">
				<img src="..." class="d-block w-100 slider__div__div-3__img" alt="...">
			</div>
		</div>
	</div>
{% endblock %}
